body, h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    /* font-family: 'Roboto Mono', monospace; */
    letter-spacing: 1.5px;
    background: #273747;
    color: #63798F;
}
h1 #span{
    padding-top: 20px;
    border-top: 1px solid #324659;
    text-shadow: 0 0 10px #1D2A36;
}
.bg-crimson {
    background-color: crimson;
    color: #fff;
}

.bg-darkcyan {
    background-color: darkcyan;
    color: #fff;
}

.bg-darkkhaki {
    background-color: darkkhaki;
    color: #fff;
}

.profile-image {
    width: 180px;
    border-radius: 90px;
    margin-top: 52px;
    border: 10px solid #055160;
}
#img-placeholder {
    background: url(/assets/img-bg2.png);
    background-repeat: no-repeat;
    background-position-x: center;
    width: auto;
    height: 459px;
    text-align: center;
    padding-top: 90px;
    padding-left: 21px;
    margin: 0 auto;
    z-index: 0;
}